@model ConstrutoraApp.Models.Entrada

@{
    ViewData["Title"] = "Detalhes da Entrada";
}

<div class="container-fluid">
    <h1><i class="bi bi-arrow-down-circle"></i> Detalhes da Entrada</h1>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descricao)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descricao)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Tipo)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Tipo)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Empreendimento)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Empreendimento!.Nome)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Valor)</dt>
                <dd class="col-sm-9">R$ @Model.Valor.ToString("N2")</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Data)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Data)</dd>
            </dl>

            <div class="mb-3">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Voltar
                </a>
            </div>
        </div>
    </div>
</div>

